ion-col {
    background-color: #135d54;
    border: solid 12x #fff;
    color: #fff;
    text-align: center;
    margin-top:200px;
    margin-left: 10px;
    margin-right: 10px;
    
  }

  .icon{
  ion-toggle {

    margin-top:250px;
    margin-left: 50px;
    margin-right: 10px;
    margin-bottom: 80px;
  }
  }