<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Light
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <img  *ngIf=" !isChecked"id="imgs" src ="./assets/pic_bulboff.gif" width="100" height="180">
  <ion-toggle (ionChange)="handleChange($event)"></ion-toggle>
  <img    *ngIf=" isChecked" id="imgs"  src="./assets/pic_bulbon.gif" width="100" height="180">
<ion-label class="ion-text-center">
  <ion-button [routerLink]="['/box']" fill="clear"><b>Next page</b></ion-button>
  </ion-label>
</ion-content>
